main .ourmissions{
    width: 100%;
    height: 867px;
    background-color: #EFF7F2;
    position: relative;
    top: 260px;
    z-index: -6;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 96px;
}

.ourmissions .parts{
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 96px;
    margin-top: 60px;
}

.ourmissions .parts .mission-vision{
    flex-basis: 496px;
}

.ourmissions .parts .mission-vision p:first-child{
    color: #1D2130;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 16px;

}

.ourmissions .parts .mission-vision p:last-child{
    color: #1D2130;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    margin-top: 8px;
}

.ourmissions .parts .mission-vision h3{
    color: #1D2130;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.ourmissions .supporters{
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    row-gap: 50px;
}

.ourmissions .supporters .title {
    width: 100%;
}

.ourmissions .supporters .title p{
    color: #1D2130;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.ourmissions .supporters .brands{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}