main .awards{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    margin-top: 60px;
}

.awards .title{
    width: 100%;
}

.awards .title h2{
    color: #1D2130;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.awards .awardsrow{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.awards .awardsrow .awrad{
    width: 130px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: stretch;
    row-gap: 8px;
}

.awards .awardsrow .awrad p:nth-of-type(1){
    color: #1D2130;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.awards .awardsrow .awrad p:nth-of-type(2){
    color: #1D2130;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    opacity: 0.9;
}

.awards .awardsrow .awrad p:nth-of-type(3){
    color:#1D2130;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    opacity: 0.6;
}