main .blogs{
    width: 100%;
    margin-top: 96px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 46px;
}

.blogs .title{
    width: 80%;
    text-align: left;
}

.blogs .title p:nth-of-type(1){
    color: #1D2130;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.blogs .blogposts{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.blogs .blogposts .post{
    flex-basis: 302px;
}

.blogs .blogposts .post a{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    row-gap: 16px;
}

.blogs .blogposts .post a figcaption p:nth-of-type(1){
    color:#1D2130;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.blogs .blogposts .post a figcaption p:nth-of-type(2){
    color: #989ba7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 8px;
}