main .projects {
  width: 100%;
  padding: 96px;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: start;
  row-gap: 65px;
}


.projects .text {
  width: 100%;
}

.projects .text .line {
  width: fit-content;
  height: 19px;
  display: flex;
  column-gap: 24px;
  align-items: center;
  color: #1D2130;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.projects .text .title {
  width: 100%;
}

.projects .text .title h2 {
    color: #1D2130;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.projects .project-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.projects .project-container .project{
    width: 380px;
    height: 421px;
    border-radius: 12px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
        text-align: center;
}

.projects .project-container .project:nth-of-type(1){
    background-image: url(../../../Images/Image4.png);
    background-repeat: no-repeat; 
}

.projects .project-container .project:nth-of-type(2){
    background-image: url(../../../Images/Image5.png);
    background-repeat: no-repeat;
}

.projects .project-container .project:nth-of-type(3){
    background-image: url(../../../Images/Image6.png);
    background-repeat: no-repeat;
}

.projects .project-container .project h3{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    text-align: center;
}

.projects .project-container .project p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    text-align: center;
}

.projects .project-container .project button{
    border-radius: 4px;
    background: #FFF;
    backdrop-filter: blur(40px);
    border: 1px solid gray;
    padding: 12px 28px;
    align-self: center;
    margin-top: 46px;
    cursor: pointer;
    color: #434a63;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}