main .banner {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url("../../../Images/BG-Image.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner .text {
  width: auto;
  position: absolute;
  top: 128px;
  left: 18px;
}

.banner .text p {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.banner .row {
  width: 312px;
  height: 51px;
  position: absolute;
  top: 380px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.banner .row button:first-of-type {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  cursor: pointer;
  transition: 400ms;
}

.banner .row button:hover:first-of-type {
  background-color: rgb(173, 165, 168);
}

.banner .row button:last-of-type {
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
